@{

}

    <div class="pt-3 text-center">

        <h1 class="fontenome">Projetos e Estudos</h1>

        <p>
            Durante a minha jornada tive alguns desafios, realizei alguns projetos usando programação orientada
            a objetos tanto na linguagem em C# quanto em Java. Ficou curioso? Acesse meu repositório
            e veja os projetos que estão por lá! .
        </p>

        <address>

            <img src="~/Images/LogoGitHub.png" width="100" height="100">
            <strong>GitHub:</strong>   <a href="https://github.com/AmandaCPA?tab=repositories">Amanda CPA</a><br />


            <img src="~/Images/PRINT-1.png" width="480" height="320">
            <img src="~/Images/PRINT-3.png" width="480" height="320">

        </address>

        