
@{
    ViewBag.Title = "Skills";
}


    <div class="pt-5 text-center">

        <img src="~/Images/Skills.jpg" width="600" height="230">


        <h1 class="pt-3 fontenome">Principais Habilidades:</h1>

        <p class="lead">
            Conhecimento básico em Java e C#, linguagens que estão fazendo parte do meu treinamento atualmente.
            Experiência no ramo publicitário com habilidade em identidade visual, criação de layouts, desenvolvimento de publicidade
            em meios digitais como e-mail marketing e anúncios para redes sociais (social media).
            Elaboração de estratégias de marketing para promover o negócio, gerar crescimento de vendas e divulgação da marca.

        </p>

        <img src="~/Images/LogoCorelDraw.png" width="90" height="85">
        <img src="~/Images/LogoIllustrator.jpg" width="75" height="55">
        <img src="~/Images/LogoPhotoshop.jpg" width="55" height="55">
        <img src="~/Images/LogoCSharp.png" width="80" height="80">
        <img src="~/Images/LogoJava.png" width="130" height="85">


    </div>

